<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>Rage Freebie HTML5 Landing page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="favicon.ico">

        <!--Google Font link-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">


        <link rel="stylesheet" href="{{ url_for('static', filename='css/slick.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/slick-theme.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/fonticons.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootsnav.css') }}">


        <!--For Plugins external css-->
        <!--<link rel="stylesheet" href="static/css/plugins.css" />-->

        <!--Theme custom css -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <!--<link rel="stylesheet" href="static/css/colors/maron.css">-->

        <!--Theme Responsive css-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}" />

        <script src="static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>

    <body data-spy="scroll" data-target=".navbar-collapse">


        <!-- Preloader -->
        <div id="loading">
            <div id="loading-center">
                <div id="loading-center-absolute">
                    <div class="object" id="object_one"></div>
                    <div class="object" id="object_two"></div>
                    <div class="object" id="object_three"></div>
                    <div class="object" id="object_four"></div>
                </div>
            </div>
        </div><!--End off Preloader -->


        <div class="culmn">
            <!--Home page style-->


            <nav class="navbar navbar-default navbar-fixed white no-background bootsnav">
                <!-- Start Top Search -->
                <div class="top-search">
                    <div class="container">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                            <input type="text" class="form-control" placeholder="Search">
                            <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                        </div>
                    </div>
                </div>
                <!-- End Top Search -->

                <div class="container">
                    <!-- Start Atribute Navigation -->
                    <div class="attr-nav">
                        <ul>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
                                    <i class="fa fa-shopping-bag"></i>
                                    <span class="badge">3</span>
                                </a>
                                <ul class="dropdown-menu cart-list">
                                    <li>
                                        <a href="#" class="photo"><img src="static/images/thumb01.jpg" class="cart-thumb" alt="" /></a>
                                        <h6><a href="#">Delica omtantur </a></h6>
                                        <p class="m-top-10">2x - <span class="price">$99.99</span></p>
                                    </li>
                                    <li>
                                        <a href="#" class="photo"><img src="static/images/thumb01.jpg" class="cart-thumb" alt="" /></a>
                                        <h6><a href="#">Delica omtantur </a></h6>
                                        <p class="m-top-10">2x - <span class="price">$99.99</span></p>
                                    </li>
                                    <li>
                                        <a href="#" class="photo"><img src="static/images/thumb01.jpg" class="cart-thumb" alt="" /></a>
                                        <h6><a href="#">Delica omtantur </a></h6>
                                        <p class="m-top-10">2x - <span class="price">$99.99</span></p>
                                    </li>
                                    <!---- More List ---->
                                    <li class="total">
                                        <span class="pull-right"><strong>Total</strong>: $0.00</span>
                                        <a href="#" class="btn btn-cart">Cart</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                            <li class="side-menu"><a href="#"><i class="fa fa-bars"></i></a></li>
                        </ul>
                    </div>
                    <!-- End Atribute Navigation -->

                    <!-- Start Header Navigation -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" href="#brand">

                            <img src="static/images/logo.png" class="logo logo-display m-top-10" alt="">
                            <img src="static/images/logo.jpg" class="logo logo-scrolled" alt="">

                        </a>
                    </div>
                    <!-- End Header Navigation -->

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="navbar-menu">
                        <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                            <li><a href="#hello">Hello</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#service">Services</a></li>
                            <li><a href="#portfolio">Portfolio</a></li>
                            <li><a href="#pricing">Pricing</a></li>
                            <li><a href="#blog">Blog</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div>


                <!-- Start Side Menu -->
                <div class="side">
                    <a href="#" class="close-side"><i class="fa fa-times"></i></a>
                    <div class="widget">
                        <h6 class="title">Custom Pages</h6>
                        <ul class="link">
                            <li><a href="#">About</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Portfolio</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                    <div class="widget">
                        <h6 class="title">Additional Links</h6>
                        <ul class="link">
                            <li><a href="#">Retina Homepage</a></li>
                            <li><a href="#">New Page Examples</a></li>
                            <li><a href="#">Parallax Sections</a></li>
                            <li><a href="#">Shortcode Central</a></li>
                            <li><a href="#">Ultimate Font Collection</a></li>
                        </ul>
                    </div>
                </div>
                <!-- End Side Menu -->

            </nav>


            <!--Home Sections-->

            <section id="hello" class="home bg-mega">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="main_home">
                            <div class="home_text">
                                <h1 class="text-white">Des chatbots à votre service.</h1>
                            </div>

                            <div class="home_btns m-top-40">
                                <a href="" class="btn btn-primary m-top-20">GET STARTED</a>
                                <a href="" class="btn btn-default m-top-20">DISCOVER</a>
                            </div>

                        </div>
                    </div><!--End off row-->
                </div><!--End off container -->
            </section> <!--End off Home Sections-->


            <!--Video section-->
            <section>
            <div class="container">
                <div class="row">
                    <div class="main_featured m-top-100">
                        <div class="col-sm-12">
                            <div class="head_title text-center">
                                <h2>Essayez maintenant !</h2>
                                <div class="separator_auto"></div>
                                <p>Conçu par nos meilleures équipes d'ingénieurs, le chatbot saura vous guider à travers votre visite du site et
                                et vous faire des recommandations qui correspondent à vos besoins. </p>
                                <div class="about_btns m-top-40">
                                    <form id="begin" autocomplete="off">
                                      <input class="form-control" type="text" placeholder="Entrez votre nom" id="input_name" /><br />
                                      <input type="submit" class="btn btn-primary" value="COMMENCEZ" />
                                    </form>
                                </div>

                                <div id="chat">
                                  <div class="chat-container" id="chat_container">
                                      <!-- chat messages -->
                                  </div>
                                  <form id="target" autocomplete="off">
                                     <input class="input form-control" type="text" value="" placeholder="Enter message..." id="input_message"/>
                                     <input type="submit" hidden>
                                     <div id="phrases_slot"></div>
                                  </form>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="video" class="video">
              <div class="overlay"></div>
              <div class="main_video roomy-100 m-top-100 m-bottom-100 text-center">
                  <div class="video_text text-center">
                  </div>
              </div>
            </div>
          </section><!--End off video section -->

            <!--About Sections-->
            <section id="about" class="about roomy-100">
                <div class="container">
                    <div class="row">
                        <div class="main_about">
                            <div class="col-md-6">
                                <div class="about_content">
                                    <h2>ABOUT US</h2>
                                    <div class="separator_left"></div>

                                    <p>Nous sommes une entreprise jeune et dynamique,
                                    spécialisée dans la vente de produits sur Internet. Votre satisfaction a toujours été notre fierté,
                                  et vos retours chaleureux nous ont poussé à lancer, depuis 2018, de nouveaux produits innovants, dont notre
                                ChatBot, toujours présent pour répondre à toutes vos questions en tenant compte de vos préférences. Nous souhaitons vous
                              proposer une expérience personnalisée et agréable, car vous contenter, vous, utilisateurs, est notre priorité.</p>

                                    <div class="about_btns m-top-40">
                                        <a href="" class="btn btn-primary">DOWNLOAD NOW</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="about_accordion wow fadeIn">
                                    <div id="faq_main_content" class="faq_main_content">
                                          <h6><i class="fa fa-angle-right"></i> UN DESIGN UNIQUE </h6>
                                        <div>
                                            <div class="content">
                                                <p>Nous avons choisi un thème générique, lisse et prévisible, de manière
                                                à ce que vous passiez plus de temps sur notre site. Moins vous réfléchissez, plus
                                              vite vous naviguez, plus facilement vous achetez. </p>

                                            </div>
                                        </div> <!-- End off accordion item-1 -->

                                        <h6><i class="fa fa-angle-right"></i> UNE EQUIPE EXPÉRIMENTÉE</h6>
                                        <div>
                                            <div class="content">
                                                <p>Nous sommes forts d'une longue expérience dans notre domaine. Les directeurs ont fait
                                                  une école de commerce, et nous faisons
                                                développer le site par des stagiaires en école de graphisme et en DUT. </p>
                                            </div>
                                        </div> <!-- End off accordion item-2 -->

                                        <h6> <i class="fa fa-angle-right"></i> UN SERVICE IMPECCABLE </h6>
                                        <div>
                                            <div class="content">
                                                <p>Si vous envoyez un message sur les réseaux sociaux, le community manager en CDD répondra
                                                pour ne pas nous faire perdre notre réputation.</p>
                                            </div>
                                        </div> <!-- End off accordion item-3 -->

                                        <h6><i class="fa fa-angle-right"></i> MISES A JOUR FRÉQUENTES </h6>
                                        <div>
                                            <div class="content">
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                                    sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                                                    magna aliquam erat volutpat. Ut wisi enim ad minim veniam, </p>
                                            </div>
                                        </div> <!-- End off accordion item-4 -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--End off row-->
                </div><!--End off container -->
                <br />
                <br />
                <br />
                <br />
                <hr />
                <br />
                <br />
                <div class="container">
                    <div class="row">
                        <div class="about_bottom_content">
                            <div class="col-md-4">
                                <div class="about_bottom_item m-top-20">
                                    <div class="ab_head">
                                        <div class="ab_head_icon">
                                            <i class="icofont icofont-fire-burn"></i>
                                        </div>
                                        <h6 class="m-top-20"> WE’RE CREATIVE</h6>
                                    </div>
                                    <p class="m-top-20">Lorem ipsum dolor sit amet, consectetuer adipiscing ealit,
                                        sed diaim nonummy nibsih euismod tincidiunt laorieet doloire
                                        magna diam aliquafm erat voluitpati. </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="about_bottom_item m-top-20">
                                    <div class="ab_head">
                                        <div class="ab_head_icon">
                                            <i class="icofont icofont-speech-comments"></i>
                                        </div>
                                        <h6 class="m-top-20">WE'RE FRIENDLY</h6>
                                    </div>
                                    <p class="m-top-20">Lorem ipsum dolor sit amet, consectetuer adipiscing ealit,
                                        sed diaim nonummy nibsih euismod tincidiunt laorieet doloire
                                        magna diam aliquafm erat voluitpati. </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="about_bottom_item m-top-20">
                                    <div class="ab_head">
                                        <div class="ab_head_icon">
                                            <i class="icofont icofont-heart"></i>
                                        </div>
                                        <h6 class="m-top-20">WE LOVE MINIMALISM</h6>
                                    </div>
                                    <p class="m-top-20">Lorem ipsum dolor sit amet, consectetuer adipiscing ealit,
                                        sed diaim nonummy nibsih euismod tincidiunt laorieet doloire
                                        magna diam aliquafm erat voluitpati. </p>
                                </div>
                            </div>
                        </div>
                    </div><!--End off row-->
                </div><!--End off container -->
            </section> <!--End off About section -->






            <!--Testimonial Section-->
            <section id="testimonial" class="testimonial fix">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="main_testimonial roomy-100">
                            <div class="head_title text-center">
                                <h2 class="text-white">OUR TESTIMONIALS</h2>
                            </div>
                            <div class="testimonial_slid text-center">
                                <div class="testimonial_item">
                                    <div class="col-sm-10 col-sm-offset-1">
                                        <p class="text-white">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                                            nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                            Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                                            suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>

                                        <div class="test_authour m-top-30">
                                            <h6 class="text-white m-bottom-20">JOHN DOE - THEMEFOREST USER</h6>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial_item">
                                    <div class="col-sm-10 col-sm-offset-1">
                                        <p class="text-white">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                                            nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                            Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                                            suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>

                                        <div class="test_authour m-top-30">
                                            <h6 class="text-white m-bottom-20">JOHN DOE - THEMEFOREST USER</h6>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial_item">
                                    <div class="col-sm-10 col-sm-offset-1">
                                        <p class="text-white">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                                            nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                            Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                                            suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>

                                        <div class="test_authour m-top-30">
                                            <h6 class="text-white m-bottom-20">JOHN DOE - THEMEFOREST USER</h6>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial_item">
                                    <div class="col-sm-10 col-sm-offset-1">
                                        <p class="text-white">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                                            nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                            Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                                            suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>

                                        <div class="test_authour m-top-30">
                                            <h6 class="text-white m-bottom-20">JOHN DOE - THEMEFOREST USER</h6>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--End off row-->
                </div><!--End off container -->
            </section> <!--End off Testimonial section -->







            <!-- scroll up-->
            <div class="scrollup">
                <a href="#"><i class="fa fa-chevron-up"></i></a>
            </div><!-- End off scroll up -->


            <footer id="footer" class="footer bg-black">
                <div class="container">
                    <div class="row">
                        <div class="main_footer text-center p-top-40 p-bottom-30">
                            <p class="wow fadeInRight" data-wow-duration="1s">
                                Made with
                                <i class="fa fa-heart"></i>
                                by
                                <a target="_blank" href="http://bootstrapthemes.co">Bootstrap Themes</a>
                                2016. All Rights Reserved
                            </p>
                        </div>
                    </div>
                </div>
            </footer>




        </div>

            <!-- JS includes -->

            <script src="{{ url_for('static', filename='js/vendor/jquery-1.11.2.min.js')}}"></script>
            <script src="{{ url_for('static', filename='js/vendorbootstrap.min.js')}}"></script>

            <script src="{{ url_for('static', filename='js/jquery.magnific-popup.js')}}"></script>
            <script src="{{ url_for('static', filename='js/jquery.easing.1.3.js')}}"></script>
            <script src="{{ url_for('static', filename='js/slick.min.js')}}"></script>
            <script src="{{ url_for('static', filename='js/jquery.collapse.js')}}"></script>
            <script src="{{ url_for('static', filename='js/bootsnav.js')}}"></script>

            <!-- paradise slider js -->







            <script src="{{ url_for('static', filename='js/plugins.js')}}"></script>
            <script src="{{ url_for('static', filename='js/main.js')}}"></script>
            <script src="{{ url_for('static', filename='script.js')}}"></script>


    </body>
</html>
